<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adefst</title>
</head>
<body>
<h2>Exercises</h2>
<p></p>
<h1>Exercise 1</h1>
<p id="demo">JavaScript can change HTML content</p>
<button type="button" onclick='document.getElementById("demo").innerHTML="Hello JS!"'>
    Click me!</button>
<h1>Exercise 2</h1>
<button onclick="document.getElementById('bulb').src='bulb2.jpg'">Turn on the light</button>
<img src="bulb1.jpg" id="bulb" style="width:10%">
<button onclick="document.getElementById('bulb').src='bulb1.jpg'">Turn off the light</button>
<h1>Exercise 3</h1>
<p id="hide">Element to hide</p>
<button onclick="document.getElementById('hide').style.display='none'">Click to hide!</button>
<h1>Exercise 4</h1>
<p id="hidden" style="display:none">There it is!</p>
<button type="button" onclick="document.getElementById('hidden').style.display='block'">Click here to see text!</button>
<h1>Exercise 5</h1>
<script>
    alert('Alert');
</script>

</body>
</html>